include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst

include versioneer.py stems/_version.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include cedar *.json *.yml *.tmpl

recursive-include docs *.rst Makefile make.bat *.jpg *.png *.gif
