# cedar configuration file template
# vi: ft=yaml


#############
# Tile Grid #
#############
tile_grid:
  # Name of the grid
  name: Landsat ARD v1 - CONUS
  # CRS as Well Known Text
  crs: PROJCS["CONUS_WGS84_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS
    84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["standard_parallel_1",29.5],PARAMETER["standard_parallel_2",45.5],PARAMETER["latitude_of_center",23],PARAMETER["longitude_of_center",-96],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["Meter",1]]
  # Upper left X/Y coordinates
  ul: [-2565585.0, 3314805]
  # Pixel X/Y resolution
  res: [30, 30]
  # Number of pixels in X/Y dimensions for each tile
  size: [5000, 5000]
  # Minimum and maximum rows (vertical) and column (horizontal)
  limits:
  - [0, 21]
  - [0, 32]


#######################
# Google Earth Engine #
#######################
tracker:
  # Name of storage backend -- should be "gcs" or "gdrive"
  store: gdrive
  # Template for "pre-ARD" image and metadata name and prefix
  # Available keys are:
  #   "collection", "tile", "date_start", "date_end", and "now"
  name_template: "{collection}_h{tile.horizontal:03d}v{tile.vertical:03d}_{date_start}_{date_end}"
  prefix_template: "CEDAR"
  # Template for order tracking file name and prefix
  # Available keys are:
  #   "collection", "tiles", "tile_indices", "period_start", "period_end",
  #   "period_freq", and "now"
  tracking_template: "TRACKING_PERIOD{period_start}-{period_end}_TASK{now}"
  tracking_prefix: "CEDAR_TRACKING"
  # Image export options for ``toDrive`` and ``toCloudStorage``
  # See https://developers.google.com/earth-engine/exporting#exporting-images
  export_image_kwds:
    shardSize: 256
    fileDimensions: 1024
    cloudOptimized: true
  # ImageCollection EarthEngine filters to apply before ordering
  # See https://developers.google.com/earth-engine/ic_filtering
  filters:
    LANDSAT/LC08/C01/T1_SR:
      - function: 'lte'
        name: 'CLOUD_COVER_LAND'
        value: 80.
    LANDSAT/LE07/C01/T1_SR:
      - function: 'lte'
        name: 'CLOUD_COVER_LAND'
        value: 80.
    LANDSAT/LT05/C01/T1_SR:
      - function: 'lte'
        name: 'CLOUD_COVER_LAND'
        value: 80.


########################
# Google Cloud Storage #
########################
gcs:
  bucket_name: MY_BUCKET_NAME
  credentials_file: MY_SERVICE_ACCOUNT_CREDS.json
  project: MY_GCS_PROJECT


################
# Google Drive #
################
gdrive:
  client_secrets_file: client_secrets.json
  credentials_file: credentials.json


#######################
# ARD Storage Options #
#######################
ard:
  # Directory name pattern for converted ARD. Available keys are:
  #   "collection", "date_start", "date_end", and "tile"
  destination: "ARD/{collection}/h{tile.horizontal:03d}v{tile.vertical:03d}"
  # NetCDF4 image encoding options
  # See http://xarray.pydata.org/en/stable/io.html#writing-encoded-data
  encoding:
    chunks:
      x: 250
      y: 250
      time: 50
    zlib: True
