# ardzilla configuration file template
# vi: ft=yaml


#############
# Tile Grid #
#############
tile_grid:
  name: WGS84 1x1deg ~30m
  crs: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
  ul: [-180.0, 80.0]
  res: [0.00025, 0.00025]
  size: [40000, 40000]
  limits:
  - [0, 13]
  - [0, 36]


#######################
# Google Earth Engine #
#######################
gee:
  store_service: gdrive
  tracker:
    name_template: "{collection}_h{tile.horizontal:03d}v{tile.vertical:03d}_{date_start}_{date_end}"
    prefix_template: "GEEARD"
    tracking_template: "TRACKING_PERIOD{date_start}-{date_end}_TASK{today}"
    tracking_prefix: "GEEARD_TRACKING"
    filters:
      - function: 'lte'
        name: 'CLOUD_COVER_LAND'
        value: 80.


########################
# Google Cloud Storage #
########################
gcs:
  bucket_name: MY_BUCKET_NAME
  credentials_file: MY_SERVICE_ACCOUNT_CREDS.json
  project: MY_GCS_PROJECT
  export_image_kwds:
    shardSize: 256
    fileDimensions: 512


################
# Google Drive #
################
gdrive:
  client_secrets_file: client_secrets.json
  credentials_file: credentials.json
  export_image_kwds:
    shardSize: 256
    fileDimensions: 512


#######################
# ARD Storage Options #
#######################
ard:
  preard: preARD 
  dest: ARD
  chunks:
    x: 250
    y: 250
    time: -1
  zlib: True
