# ardzilla configuration file template
# vi: ft=yaml


#############
# Tile Grid #
#############
tile_grid:
  name: BU MEaSUREs - NA - V00
  ul: [-7633670.0, 5076465.0]
  crs: PROJCS["BU MEaSUREs Lambert Azimuthal Equal Area - NA - V00",GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["degree",0.0174532925199433]],PROJECTION["Lambert_Azimuthal_Equal_Area"],PARAMETER["false_easting",0.0],PARAMETER["false_northing",0.0],PARAMETER["longitude_of_center",-100],PARAMETER["latitude_of_center",50],UNIT["meter",1.0]]
  res: [30, 30]
  size: [5000, 5000]
  limits:
  - [0, 64]
  - [0, 84]


#######################
# Google Earth Engine #
#######################
gee:
  store_service: gdrive
  tracker:
    name_template: "{collection}_h{tile.horizontal:03d}v{tile.vertical:03d}_{date_start}_{date_end}"
    prefix_template: "GEEARD"
    tracking_template: "TRACKING_PERIOD{date_start}-{date_end}_TASK{today}"
    filters:
      - function: 'lte'
        name: 'CLOUD_COVER_LAND'
        value: 80.


########################
# Google Cloud Storage #
########################
gcs:
  bucket_name: gee_ard
  credentials_file: GEEARD_service_account.json
  project: GEEARD
  export_image_kwds:
    shardSize: 256
    fileDimensions: 512


################
# Google Drive #
################
gdrive:
  client_secrets_file: client_secrets.json
  credentials_file: credentials.json
  export_image_kwds:
    shardSize: 256
    fileDimensions: 512


#######################
# ARD Storage Options #
#######################
ard:
  preard: preARD 
  dest: ARD
  chunks:
    - x: 250
    - y: 250
    - time: -1
  zlib: True
